@model BlogLogic.Models.Comment
@{
    ViewBag.Title = "Guest";
}

<h2>Guest</h2>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <div class="reviews-list article-list">
            @foreach (var item in ViewBag.Comments)
            {
                <div>
                    <h4>@item.CommentDate</h4>
                    <h3>@item.CommentAuthor</h3>
                    <p>@item.CommentText</p>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Guest", "Guest", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <p>Enter your name:</p>
            @Html.EditorFor(m => m.CommentAuthor)
            <br />
            <br />
            <p>Enter review:</p>
            @Html.EditorFor(m => m.CommentText)
            <br />
            <br />
            <button>Submit</button>
        }
    </div>
    <div class="col-md-1">
    </div>
</div>

