@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="article-list">
        @foreach (var item in Model)
        {
            <div>
                <h2>@item.ArticleName</h2>
                <p>@item.ArticleText.Substring(0,200)</p>
                @Html.RouteLink("Read More", new { controller = "Article", action = "Article", id = item.Id }, new { target = "_blank" })
            </div>
        }
    </div>
    <div class="navbar-right">
        <div class="container">
            <div class="row">
                <div class="sidebar-nav">
                    <div class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <span class="visible-xs navbar-brand">Sidebar menu</span>
                        </div>
                        <div class="navbar-collapse collapse sidebar-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/Index/Index">Main page</a></li>
                                <li><a href="/Guest/Guest/">Guest page</a></li>
                                <li><a href="/User/UserProfile/">Profile</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
        </div>
        <div class="nav navbar-nav">
            @if (ViewBag.VoteType == "Vote")
            {
                using (Html.BeginForm("Index", "Index", FormMethod.Post))
                {
                    <h3>What is your gender?</h3>
                    @Html.RadioButton("gender", "Male")
                    <span>Male</span>
                    <br />
                    @Html.RadioButton("gender", "Female")
                    <span>Female</span>
                    <br />
                    <button type="submit">Submit</button>
                }
            }
            else if(ViewBag.VoteType == "Result")
            {
                <h3>What is your gender?</h3>
                <br />
                <h4>Results:</h4>
                <br />
                <span>Male: </span>@ViewBag.Male
                <br />
                <span>Female: </span>@ViewBag.Female
            }
        </div>
    </div>
</div>
       